<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vurdering.css">
    <title>Endre Konto</title>
</head>
<body>
      <div class = "header">
        <h2>Velkommen, <%= username %>!</h2>
      </div>
   
       <div class = "topnav">
           <a href="/Avfall-bærekraft.html">Tverrfaglig prosjekt Avfall</a>
           <a href="/Fotohistorie-Skrekk.mp4">Fotoserie skrekk</a>
           <a href="/Interaktiv Historie.html">Interaktiv historie</a>
           <a href="/posts">Innlegg</a>
           
           <div class="dinKonto">
             <div class="dropdown">
               <a href="#" class="dropdownbtn">Din konto:</a>
               <div class="dropdown-content">
                 <a href="/logout">Logg ut</a>  
                 <a href="/edit-account">Endre brukerinfo</a>
                 <form action="/delete-account" method="POST" onsubmit="return confirm('Er du sikker på at du vil slette kontoen din? Du må logge inn for å bekrefte.')">
                  <button type="submit">Slett konto</button>
                </form>
               </div>
             </div>
           </div>
           
           <div class="tilbake">
             <a href="/Welcome">Tilbake til Forside</a>
           </div>
        </div>

        <!-- Side for å endre brukernavn og passord -->
        <div class="Overskrift">
          <h2>Endre Kontoinformasjon</h2>
        </div>

      <div class="kontoinfo">
        <!-- Skjema for å oppdatere konto -->
        <form action="/update-account" method="POST">
           <input type="text" name="newUsername" placeholder="Nytt brukernavn" required><br>
           <input type="password" name="newPassword" placeholder="Nytt passord" required><br>
           <div class="oppdater-knapp">
             <button type="submit">Oppdater konto</button>
           </div>
        </form>
        <br>
      </div>
</body>
</html>