<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vurdering.css">
    <title>Velkommen</title>
</head>
<body>
    
    <!-- Viser velkommen melding med brukernavn -->
    <div class = "header">
    </div>
    
    <div class = "topnav">
       <a href="/Avfall-bærekraft.html">Tverrfaglig prosjekt Avfall</a>
       <a href="/Fotoserie-skrekk.html">Fotoserie skrekk</a>
       <a href="/Interaktiv Historie.html">Interaktiv historie</a>
       <a href="/posts">Innlegg</a>
       
       <!-- Dropdownmeny med logut, rediger og slett -->
       <div class="dinKonto">
         <div class="dropdown">
           <a href="#" class="dropdownbtn">Din konto:</a>
           <div class="dropdown-content">
             <a href="/logout">Logg ut</a>
             <a href="/edit-account">Endre brukerinfo</a>
             
             <!-- Bekreftelse på sletting av konto -->
             <form action="/delete-account" method="POST" onsubmit="return confirm('Er du sikker på at du vil slette kontoen din? Du må logge inn for å bekrefte.')">
                <button type="submit">Slett konto</button>
             </form>
           </div>
         </div>
       </div>
    </div>
  <div class="Overskrift">
       <h1>Innlogget som: <%= currentUser %></h1>
  </div>
  
  <h2>Alle brukere</h2>

    <table>
        <tr class = "top-row">
            <td>Id</td>
            <td>brukernavn</td>
        </tr>

        <tbody>
            <% users.forEach(user => { %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
              </tr>
            <% }) %>
      </tbody>
    </table>