<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vurdering.css">
    <title>Velkommen</title>
</head>
<body>
    <div class = "header">
      <h2>Velkommen, <%= username %>!</h2>
    </div>
    
    <div class = "topnav">
       <a href="/Avfall-bærekraft.html">Tverrfaglig prosjekt Avfall</a>
       <a href="/Fotoserie-skrekk.html">Fotoserie skrekk</a>
       <a href="/Interaktiv Historie.html">Interaktiv historie</a>
       <a href="/posts">Innlegg</a>
       
       <div class="dinKonto">
         <div class="dropdown">
           <a href="#" class="dropdownbtn">Din konto:</a>
           <div class="dropdown-content">
             <a href="/logout">Logg ut</a>
             <form action="/delete-account" method="POST" onsubmit="return confirm('Er du sikker på at du vil slette kontoen din? Du må logge inn for å bekrefte.')">
              <button type="submit">Slett konto</button>
            </form>
           </div>
         </div>
       </div>
    </div>

    <div class="Overskrift">
      
    </div>

</body>
</html>