<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vurdering.css">
    <title>Velkommen</title>
</head>
<body>
    
    <!-- Viser velkommen melding med brukernavn -->
    <div class = "header">
      <h2>Velkommen, <%= username %>!</h2>
    </div>
    
    <div class = "topnav">
       <a href="/Avfall-bærekraft.html">Tverrfaglig prosjekt Avfall</a>
       <a href="/Fotoserie-skrekk.html">Fotoserie skrekk</a>
       <a href="/Interaktiv Historie.html">Interaktiv historie</a>
       <a href="/posts">Innlegg</a>
       <a href="/users">Brukeroversikt</a>
       
       <!-- Dropdownmeny med logut, rediger og slett -->
       <div class="dinKonto">
         <div class="dropdown">
           <a href="#" class="dropdownbtn">Din konto:</a>
           <div class="dropdown-content">
             <a href="/logout">Logg ut</a>
             <a href="/edit-account">Endre brukerinfo</a>
             
             <!-- Bekreftelse på sletting av konto -->
             <form action="/delete-account" method="POST" onsubmit="return confirm('Er du sikker på at du vil slette kontoen din? Du må logge inn for å bekrefte.')">
                <button type="submit">Slett konto</button>
             </form>
           </div>
         </div>
       </div>
    </div>

    <div class="Overskrift">
      <h1>Om prosjektene</h1>
    </div>

    <!-- Tabell med prosjekter og fag -->
    <table>
      <!-- Øverste rad med 3 bokser -->
      <tr class="top-row">
          <td>Oppgave</td> <!-- Oppgaven -->
          <td>Fag</td> <!-- Faget for oppgaven -->
          <td>Dato</td> <!-- Dato på når oppgaven ble utdelt -->
      </tr>
      
      <!-- Nedre rad med flere bokser -->
      <tr class="row">
        <td>Tverrfaglig Prosjekt</td>
        <td>Naturfag, Matematikk, Engelsk, Konseptutvikling, Medieproduksjon</td>
        <td>15.01.2025</td>
      </tr>
  
      <tr class="row">
        <td>Fotoserie</td>
        <td>Medieproduksjon</td>
        <td>14.10.2024</td>
      </tr>
  
      <tr class="row">
        <td>Interaktiv historie</td>
        <td>Teknologi forståelse</td>
        <td>12.03.2025</td>
      </tr>
    </table>
</body>
</html>